@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <div class="rectheader">
            Phone
        </div>
        <div class="rectcontact">
            <ul class="list-unstyled">
                <li><strong>PHONE:</strong></li>
                <li>Phone:  618-345-2345</li>
                <li>Fax:  618-345-7890</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="rectheader">
            Address
        </div>
        <div class="rectcontact">
            <ul class="list-unstyled">
                <li><strong>ADDRESS:</strong>:</></li>
                <li>Perry's Public Library</li>
                <li>200 West Main St.</li>
                <li>Collinsville, IL 62234</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="rectheader">
            Email
        </div>
        <div class="rectcontact">
            <ul class="list-unstyled">
                <li><strong>EMAIL:</strong></li>
                <li>Library Manager - <a href="mailto:Manager@perryslibrary.com">Manager@perryslibrary.com</a></li>
                <li>Circulation Manager - <a href="mailto:Support@perryslibrary.com">Support@perryslibrary.com</a></li>
            </ul>
        </div>
    </div>
</div>
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@